%svg-common {
	background: url(svg/sprite.css-54f93c1f.svg) no-repeat;
}

.svg-h4c_logo_ber_big {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-h4c_logo_ber_big-dims {
	width: 278px;
	height: 268px;
}

.svg-h4c_logo_ber_small {
	@extend %svg-common;
	background-position: 8.98513251454428% 19.734904270986746%;
}

.svg-h4c_logo_ber_small-dims {
	width: 320px;
	height: 22px;
}

.svg-h4c_logo_big {
	@extend %svg-common;
	background-position: 18.676539206053448% 24.533379354569085%;
}

.svg-h4c_logo_big-dims {
	width: 212.122px;
	height: 197.937px;
}

.svg-h4c_logo_dor_big {
	@extend %svg-common;
	background-position: 27.306397306397308% 43.884892086330936%;
}

.svg-h4c_logo_dor_big-dims {
	width: 444px;
	height: 268px;
}

.svg-h4c_logo_dor_small {
	@extend %svg-common;
	background-position: 41.2693193028609% 55.670103092783506%;
}

.svg-h4c_logo_dor_small-dims {
	width: 373px;
	height: 22px;
}

.svg-h4c_logo_dre_big {
	@extend %svg-common;
	background-position: 53.377049180327866% 69.96402877697842%;
}

.svg-h4c_logo_dre_big-dims {
	width: 364px;
	height: 268px;
}

.svg-h4c_logo_dre_small {
	@extend %svg-common;
	background-position: 64.92829204693612% 77.02503681885125%;
}

.svg-h4c_logo_dre_small-dims {
	width: 346px;
	height: 22px;
}

.svg-h4c_logo_kar_big {
	@extend %svg-common;
	background-position: 79.52380952380952% 96.0431654676259%;
}

.svg-h4c_logo_kar_big-dims {
	width: 474px;
	height: 268px;
}

.svg-h4c_logo_kar_small {
	@extend %svg-common;
	background-position: 92.74406332453826% 98.379970544919%;
}

.svg-h4c_logo_kar_small-dims {
	width: 382px;
	height: 22px;
}

.svg-h4c_logo_small {
	@extend %svg-common;
	background-position: 99.9745525011949% 99.98961816188451%;
}

.svg-h4c_logo_small-dims {
	width: 219.187px;
	height: 21.859px;
}

