%svg-common {
	background: url(svg/sprite.css-b14ccb49.svg) no-repeat;
}

.svg-h4c_logo_ber_big {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-h4c_logo_ber_big-dims {
	width: 278px;
	height: 268px;
}

.svg-h4c_logo_ber_small {
	@extend %svg-common;
	background-position: 9.649427282193683% 23.103448275862068%;
}

.svg-h4c_logo_ber_small-dims {
	width: 320px;
	height: 22px;
}

.svg-h4c_logo_dor_big {
	@extend %svg-common;
	background-position: 21.690243017772943% 31.728665207877462%;
}

.svg-h4c_logo_dor_big-dims {
	width: 444px;
	height: 268px;
}

.svg-h4c_logo_dor_small {
	@extend %svg-common;
	background-position: 36.84582743988685% 48.10344827586207%;
}

.svg-h4c_logo_dor_small-dims {
	width: 373px;
	height: 22px;
}

.svg-h4c_logo_dre_big {
	@extend %svg-common;
	background-position: 49.87663024321466% 63.457330415754925%;
}

.svg-h4c_logo_dre_big-dims {
	width: 364px;
	height: 268px;
}

.svg-h4c_logo_dre_small {
	@extend %svg-common;
	background-position: 62.31173380035026% 73.10344827586206%;
}

.svg-h4c_logo_dre_small-dims {
	width: 346px;
	height: 22px;
}

.svg-h4c_logo_kar_big {
	@extend %svg-common;
	background-position: 77.92445911257792% 95.18599562363238%;
}

.svg-h4c_logo_kar_big-dims {
	width: 474px;
	height: 268px;
}

.svg-h4c_logo_kar_small {
	@extend %svg-common;
	background-position: 92.19581411848174% 98.10344827586206%;
}

.svg-h4c_logo_kar_small-dims {
	width: 382px;
	height: 22px;
}

.svg-h4c_logo_small {
	@extend %svg-common;
	background-position: 99.9727347087158% 99.98784630488879%;
}

.svg-h4c_logo_small-dims {
	width: 219.187px;
	height: 21.859px;
}

