---
layout: default
---

<body class="page-home">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}
    <div class="section-video">
      <div class="jumbotron hero-video">
          <div class="hero-video-container">
            <img class="img-responsive" src="/img/hero.jpg" alt="Aufsicht auf eine Strassenreuzung">
          </div>
          <img class="hero-video-overlay-h4c logo-h4c" src="/img/svg/h4c_logo_big_lab1.svg" alt="Hack Your City">
          <img class="hero-video-overlay-wj logo-wj" src="/img/svg/wj2015.svg" alt="Wissenschaftsjahr Zukunftsstadt 2015">
      </div>
    </div>

    <div class="section-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            {% include modules/hashtags.html %}
          </div>
          <div class="col-md-9">
            Wieviel Land braucht die Stadt? Wie wohnen wir in Zukunft 
            zusammen? Wie grün werden unsere Städte sein? Wie ernähren wir uns in der Stadt der Zukunft? Wie bewegen wir uns in Zukunft durch die Stadt? Um solche und ähnliche Fragen geht es bei Hack Your City einem Projekt im Rahmen des Wissenschaftsjahres 2015 – Zukunftsstadt. Der wissenschaftliche Nachwuchs sowie Bürgerinnen und Bürger aus unterschiedlichen Disziplinen sind dazu aufgerufen, gemeinsam Probleme in ihren Städten zu identifizieren und anzupacken. <a class="link-more" href="/about">Weiterlesen...</a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-labs">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <div class="panel-square-wrap">
              <div class="panel panel-lab-teaser panel-lab1">
                <div class="panel-heading">
                  <h3>Berlin</h3>
                  <br>
                </div>
                <div class="panel-body">
                  Kickoff<br>9-10 Mai
                </div>
                <div class="panel-footer">
                  <a class="link-more" href="labs/berlin">&gt; Mehr Infos...</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel-square-wrap">
              <div class="panel panel-lab-teaser panel-lab2">
                <div class="panel-heading">
                  <h3>Dortmund / Wuppertal</h3>
                </div>
                <div class="panel-body ">
                  Kickoff<br>9-10 Mai
                </div>
                <div class="panel-footer">
                  <a class="link-more" href="labs/dortmund-wuppertal">&gt; Mehr Infos...</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel-square-wrap">
              <div class="panel panel-lab-teaser panel-lab3">
                <div class="panel-heading">
                  <h3>Karlsruhe</h3>
                  <br>
                </div>
                <div class="panel-body">
                  Kickoff<br>9-10 Mai
                </div>
                <div class="panel-footer">
                  <a class="link-more" href="labs/karlsruhe">&gt; Mehr Infos...</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel-square-wrap">
              <div class="panel panel-lab-teaser panel-lab4">
                <div class="panel-heading">
                  <h3>Dresden / Leipzig</h3>
                  <br>
                </div>
                <div class="panel-body">
                  Kickoff<br>9-10 Mai
                </div>
                <div class="panel-footer">
                  <a class="link-more" href="labs/dresden-leipzig">&gt; Mehr Infos...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>Newsletter</h2>
          </div>
          <div class="col-md-9">
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup" class="">
                <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group cf">
                      <label for="mce-EMAIL">Email Address</label>
                      <input type="email" value="" placeholder="e-mail Adresse" name="EMAIL" class="required email" id="mce-EMAIL">
                      <input type="submit" value="Eintragen" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_55227269112116d023d353bb8_20f8b5db52" tabindex="-1" value=""></div>
                  <div class="clear"></div>
                </form>
              </div>
              <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div>

    <div class="section-projects">
      <div class="container-fluid">
        <h2>Citizen science projects</h2>
        <div class="row">
          
          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/project_dummy.jpg" alt="Störche">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Mapknitter</h3>
                  <p class="caption-body">Williamsburg cornhole disrupt, cardigan vegan Blue Bottle. Paleo fixie biodiesel, twee pour-over. Irony sustainable organic, chillwave wayfarers scenester pickled asymmetrical whatever Truffaut umami moon. <a href="http://smartcitizen.me">smartcitizen.me</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/mapknitting.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Smart citizen</h3>
                  <p class="caption-body">Williamsburg cornhole disrupt, cardigan vegan Blue Bottle. Paleo fixie biodiesel, twee pour-over. Irony sustainable organic, chillwave wayfarers scenester pickled asymmetrical whatever Truffaut umami moon. <a href="http://smartcitizen.me">smartcitizen.me</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/mapknitting.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Cyclephilly</h3>
                  <p class="caption-body">Williamsburg cornhole disrupt, cardigan vegan Blue Bottle. Paleo fixie biodiesel, twee pour-over. Irony sustainable organic, chillwave wayfarers scenester pickled asymmetrical whatever Truffaut umami moon. <a href="http://smartcitizen.me">smartcitizen.me</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/project_dummy.jpg" alt="Störche">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Animaltracker</h3>
                  <p class="caption-body">Williamsburg cornhole disrupt, cardigan vegan Blue Bottle. Paleo fixie biodiesel, twee pour-over. Irony sustainable organic, chillwave wayfarers scenester pickled asymmetrical whatever Truffaut umami moon. <a href="http://smartcitizen.me">smartcitizen.me</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% include footer.html %}

</body>



