---
layout: default
title: Home
---

<body class="page-home">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="section-video">
      {% include header.html %}
      <div class="hero-video">
          <div class="hero-video-container" data-vide-bg="/videos/h4c" data-vide-options="posterType:jpg">
          </div>
          <img class="hero-video-overlay-h4c logo-h4c" src="" alt="Hack Your City" />
          <img class="hero-video-overlay-wj logo-wj" src="/img/svg/wj2015.svg" alt="Wissenschaftsjahr Zukunftsstadt 2015">
      </div>
    </div>

    <div class="section-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-push-3">
            <div class="content-body">
            <p>Wieviel Land braucht die Stadt? Wie wohnen wir in Zukunft zusammen? Wie grün werden unsere Städte sein? Wie ernähren wir uns in der Stadt der Zukunft? Wie bewegen wir uns in Zukunft durch die Stadt? Um solche und ähnliche Fragen geht es bei Hack Your City einem Projekt im Rahmen des <a href="http://www.wissenschaftsjahr-zukunftsstadt.de">Wissenschaftsjahres 2015 – Zukunftstadt</a>. Der wissenschaftliche Nachwuchs sowie Bürgerinnen und Bürger aus unterschiedlichen Disziplinen sind dazu aufgerufen, gemeinsam Probleme in ihren Städten zu identifizieren und anzupacken.</p>
            <p id="collapseIntroMore" class="collapse" role="tabpanel" aria-labelledby="collapseIntroMore">
            In Citizen Science Labs haben Hobbyforscher und Forscher ein halbes Jahr Zeit neues Wissen zu schaffen. Das neue Wissen entfaltet sich in innovativen Ideen, sogenannten Hacks, um die Stadt zu verbessern. Es kann im Lab Berlin, Lab Karlsruhe, Lab Ruhrgebiet und Lab Ost gelötet, programmiert, oder designt werden. Dabei ist offen, ob am Ende eine App, eine Website, eine Maschine oder ein ganz anderes Objekt entsteht.
            WISSENSCHAFTSJAHR 2015 - ZUKUNFTSSTADT
            Das Wissenschaftsjahr 2015 – Zukunftsstadt zeigt, wie die Forschung eine nachhaltige Entwicklung der Stadt ermöglicht. Die Wissenschaftlerinnen und Wissenschaftler entwickeln gemeinsam mit Bürgerinnen und Bürgern, Kommunen und Wirtschaft kluge Lösungen für die großen gesellschaftlichen Herausforderungen. Egal ob Klimaanpassung, Energiesicherheit, gute Arbeit oder das soziale Miteinander: die Antwort darauf muss auf kommunaler Ebene verwirklicht werden können. Die Wissenschaftsjahre sind eine Initiative des Bundemdinisteriums für Bildung und Forschung (BMBF) gemeinsam mit Wissenschaft im Dialog (WiD). Sie fördern den Austausch zwischen Öffentlichkeit und Forschung.
            </p>
            </div>
            <a class="link-more" data-toggle="collapse" href="#collapseIntroMore" aria-expanded="false" aria-controls="collapseIntroMore">>Weiterlesen...</a>

          </div>
          <div class="col-md-3 col-md-pull-9">
            {% include modules/hashtags.html %}
          </div>
        </div>
      </div>

    <div class="section-labs">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="panel-square-wrap">
                <div class="panel panel-lab-teaser panel-lab1">
                  <a href="labs/berlin">
                    <div class="panel-heading">
                      <h3 class="event-lab">Berlin</h3>
                      <br>
                    </div>
                    <div class="panel-body">
                      <h2 class="event-title">Kickoff</h2>
                      <h3 class="event-date" >9-10 Mai</h3>
                    </div>
                    <div class="panel-footer">
                     <span class="link-more">&gt; Mehr Infos...</span>
                    </div>
                  </a>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="panel-square-wrap">
              <div class="panel panel-lab-teaser panel-lab2">
                <a class="link-more" href="labs/dortmund-wuppertal">
                  <div class="panel-heading">
                    <h3 class="event-lab">Dortmund / Wuppertal</h3>
                  </div>
                  <div class="panel-body ">
                    <h2 class="event-title">Kickoff</h2>
                    <h3 class="event-date" >30-31 Mai</h3>
                  </div>
                  <div class="panel-footer">
                    <span class="link-more">&gt; Mehr Infos...</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="panel-square-wrap">
              <div class="panel panel-lab-teaser panel-lab4">
                <a class="link-more" href="labs/dresden-leipzig">
                  <div class="panel-heading">
                    <h3 class="event-lab">Dresden / Leipzig</h3>
                  </div>
                  <div class="panel-body">
                    <h2 class="event-title">Kickoff</h2>
                    <h3 class="event-date" >5-7 Juni</h3>
                  </div>
                  <div class="panel-footer">
                    <span class="link-more">&gt; Mehr Infos...</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="panel-square-wrap">
              <div class="panel panel-lab-teaser panel-lab3">
                <a class="link-more" href="labs/karlsruhe">
                  <div class="panel-heading">
                    <h3 class="event-lab">Karlsruhe</h3>
                    <br>
                  </div>
                  <div class="panel-body">
                    <h2 class="event-title">Kickoff</h2>
                    <h3 class="event-date" >13-14 Juni</h3>
                  </div>
                  <div class="panel-footer">
                    <span class="link-more">&gt; Mehr Infos...</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="section-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>Newsletter</h2>
          </div>
          <div class="col-md-9">
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup" class="">
                <form action="//okfn.us5.list-manage.com/subscribe/post?u=929f1e07936386d34833e20d1&amp;id=2eb5c95fbe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group cf">
                      <label for="mce-EMAIL">E-mail Address</label>
                      <input type="email" value="" placeholder="E-mail Adresse" name="EMAIL" class="required email" id="mce-EMAIL">
                      <input type="submit" value="Anmelden" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                 <div style="position: absolute; left: -5000px;"><input type="text" name="b_929f1e07936386d34833e20d1_2eb5c95fbe" tabindex="-1" value=""></div>
                  <div class="clear"></div>
                </form>
              </div>
              <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div>

    <div class="section-projects">
      <div class="container-fluid">
        <h2 class="text-center">Citizen Science Projekte</h2>
        <div class="row">
          
          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/philly.jpg" alt="Störche">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Cycle Philly</h3>
                  <p class="caption-body">Eine App, die per GPS Daten entgegen nimmt, um herauszufinden, wo Menschen am Liebsten Fahrrad fahren. Das Ziel ist es, mit diesen Daten Stadtplanern die Möglichkeit zu geben, auf die Bedürfnisse der Fahrradfahrer besser einzugehen. <a href="http://www.cyclephilly.org" target="_blank">&gt; Zum Projekt</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/openwater.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Open Water Project</h3>
                  <p class="caption-body">Interessierten Bürgern die Möglichkeit geben die Qualität von Gewässern zu messen, zu teilen und zu analysieren. Das ist die Vision des Open Water Projects! Gemeinsam haben sie ein günstiges und leicht nachzubauendes DIY-Tool entwickelt. <a href="http://openwaterproject.io" target="_blank">&gt; Zum Projekt</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/citizenkit.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Smart Citizen</h3>
                  <p class="caption-body">Eine Plattform zur Vernetzung von Projekten, Ideen und Aktivistinnen rund um Citizen Science. Mit zahlreichen Beispielen für die Verwendung von Open Source Tools, die Bürgern die Möglichkeit geben, ihre Stadt mitzugestalten. <a href="http://smartcitizen.me" target="_blank">&gt; Zum Projekt</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/project_dummy.jpg" alt="Störche">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Animal Tracker</h3>
                  <p class="caption-body">Das vom Max-Planck Institut in einem Schülerworkshop entwickelte Projekt hilft Hobby-Ornithologen und Forscherinnen dabei, Daten über die Flugrouten von Zugvögeln zu aggregieren und stellt diese Informationen gleichzeitig offen zur Verfügung. <a href="http://www.orn.mpg.de/animaltracker" target="_blank">&gt; Zum Projekt</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% include footer.html %}

</body>



