.thumbnail-project {
	
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;	
	}

	.caption {

		color: white;
		position: relative;
		height: 100%;
		padding: 60px;

	}

	.caption-title {

		  margin: 0;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  text-shadow: 0 0 $fs-medium #666;
		  @include translate(-50%,-50%);


	}

	.caption-body {
		display: none;

		a {
			// text-decoration: underline;
		}
	}

	&:hover .overlay {
		
		background-color: RGBA(255,255,255,0.9);
		.caption {
			color: $black;
		}

		.caption-title {
		  text-shadow: none;
		  position: relative;
		  top: inherit;
		  left: inherit;
		  -webkit-transform: none;
		  -ms-transform: none;
		  transform: none;
		  margin-bottom: 50px;

		}

		.caption-body {
			display: inline;
		}

	}

}

.section-lab-events {

	.event-signup {
		font-size: $fs-large; 
		padding: 0 60px;
	}

}

.section-lab-partner {
	
	li {
		margin-right: 30px;
		display:inline-block;
		max-width: 30%;
		margin-right: 3%;
		&:last-child {
			margin-right: 0;
		}
	}
}