<footer>
        
    <div class="container">
        <div class="row">
            <div class="col-md-8">
        		<ul class="list-unstyled footer-initiator-logos">
        		  <li><a href="#"><img src="/img/svg/bmbf.svg" alt="BMBF"></a></li>
        		  <li><img src="/img/svg/OKFN.svg" alt="OKFN"></li>
        		  <li><img src="/img/svg/wid.svg" alt="wissenschft im dialog"></li>
        		</ul>
            </div>
            <div class="col-md-4">
                <ul class="nav nav-meta list-unstyled">
                  <li><a href="/impressum">Kontakt & Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/main.min.js?v=0.8"></script>

