/*=============================
=            Fonts            =
=============================*/

@font-face{font-family:"DINWeb";src:url('../fonts/DINWeb.eot')}
@font-face{font-family:"DINWeb";src:url('../fonts/DINWeb.woff') format("woff")}
@font-face{font-family:"DINWeb-Bold";src:url('../fonts/DINWeb-Bold.eot')}
@font-face{font-family:"DINWeb-Bold";src:url('../fonts/DINWeb-Bold.woff') format("woff")}
@font-face{font-family:"DINWeb-CondBold";src:url('../fonts/DINWeb-CondBold.eot')}
@font-face{font-family:"DINWeb-CondBold";src:url('../fonts/DINWeb-CondBold.woff') format("woff")}

/*-----  End of Fonts  ------*/

/*===============================
=            General            =
===============================*/

/**
*
* Header
*
**/

.navbar {
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom: 0;
	min-height: 390px;
}


.page-home .navbar , .navbar.navbar-fixed {
	min-height: 130px;
}

.navbar-header  {
	margin-top: 60px
}

.navbar-right  {
	margin-top: 45px
}

.navbar-nav > li > a {
	padding: 0;
	margin: 0;
}

.nav > li > a {

	text-transform: uppercase;
	color: $black;

	&:hover {
		background: transparent;
	}

}

.page-home .navbar {
		
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
	margin-bottom: 0;
	
	.nav > li > a {
		color: white;
	}
}


.page-about {

	.navbar-brand {
		@extend .svg-h4c_logo_big;
		@extend .svg-h4c_logo_big-dims;
	}

	.navbar-fixed .navbar-brand {
		@extend .svg-h4c_logo_small;
		@extend .svg-h4c_logo_small-dims;
	}

}

@include page-lab-logo ('ber');
@include page-lab-logo ('dor');
@include page-lab-logo ('dre');
@include page-lab-logo ('kar');

h2 {

	text-transform: uppercase;

}

.content-body {

	a {
		text-decoration: underline;
	}

	h1, h2, h3 {
		margin-top: 0;
	}

	img {
		margin: 100px 0 100px 0;
	}
}

.link-more {
	font-size: $font-size-small;
	text-transform: uppercase; 
}

/**
*
* Footer
*
**/


footer {
	
	padding: 150px 0 50px 0;
	background-color: white; 

	.footer-initiator-logos li {
		margin-right: 40px;
		
		&:last-child {
			margin-right: 0;
		}

	}

	.nav {
		float: right;
		font-size: $fs-small;
		text-transform: uppercase;

	}

	

}

/*-----  End of General  ------*/


/*============================
=            Modules         =
============================*/

/**
*
* Herovideo
*
**/

html, body, .section-video, .hero-video, .hero-video-container, .empty-spacer {
  height: 100%;
}

.hero-video-container {
	position: inherit !important;
}


.hero-video-overlay-wj {
	position: absolute;
	bottom: 30px; 
	right: 60px;
}

.hero-video-overlay-h4c {
	position: absolute;
	margin: auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.navbar {
	z-index: 999;
}

.section-intro {
	.container {
		padding: 100px 0 50px 0;
	}
}

.section-labs {
	.container {
		padding: 50px 0 50px 0;
	}
}
.section-newsletter {
	.container {
		padding: 150px 0 150px 0;
	}
}

.section-projects {
	.container {
		padding: 50px 0 0 0;
	}
}


/**
*
* WJ2025 & Hashtags
*
**/

.logo-wj {
	margin-bottom: 60px;
}

.hashtag {
	color: white;
	display: inline-block;
	padding: 5px 30px 0 6px;
}

.hashtag-1 {
	background-color: $wj_yellow; 
}

.hashtag-2 {
	background-color: black; 	
}


/**
*
* Lab teasers 
*
**/


.panel-square-wrap {

	position: relative;

	&:after {
		content:"";
		display: block;
		padding-top: 100%;
	}

}

.panel-lab-teaser {
	
	position: absolute;
	width: 100%;
	height: 100%;

	border-style: solid;
	border-width: 3px;

	text-align: center; 

	.event-lab {
		margin-top: 20px;
		text-transform: uppercase;
	}

	.event-title {
		
		margin: 0;

	}

	.event-date {

		margin: 0;

	}

}

// Berlin

.panel-lab1 {
	@include panel-lab-teaser($lab1_primary);
}

// Dortmund

.panel-lab2 {
	@include panel-lab-teaser($lab2_primary);
}

// Karlsruhe

.panel-lab3 {
	@include panel-lab-teaser($lab3_primary);
}

// Dresden

.panel-lab4 {
	@include panel-lab-teaser($lab4_primary);
}

/**
*
* Newsletter Sign-up
*
**/

.section-newsletter {

	h2 {
		margin: 100px 0 0 0;
	}

}

#mc_embed_signup {

	input {
		height: 110px;
	}
	margin: 0 auto;

}

label[for=mce-EMAIL] {
	display:none;
}

#mce-EMAIL {

	font-size: $fs-large; 
	display: block;
	text-align: center;
	width: 100%;

}

#mc-embedded-subscribe {

	font-size: $fs-large;
	display: block;
	background: $h4c_grey_dark;
	color: white;
	width: 100%;

}


/**
*
* Projects
*
**/

.thumbnail-project {
	
	position: relative;
	margin-bottom: 0;

	.overlay {
		
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

	}

	.caption {

		color: white;
		position: relative;
		height: 100%;
		padding: 60px;

	}

	.caption-title {

		  margin: 0;
		  font-size: $fs-large;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);

	}

	.caption-body {
		display: none;

		a {
			// text-decoration: underline;
		}
	}

	&:hover .overlay {
		
		background-color: RGBA(255,255,255,0.9);
		.caption {
			color: black;
		}

		.caption-title {

		  position: relative;
		  top: inherit;
		  left: inherit;
		  transform: none;
		  margin-bottom: 50px;

		}

		.caption-body {
			display: inline;
		}

	}

}

/*-----  End of Modules  ------*/

/*======================================
=            The About Page            =
======================================*/

.section-faq {

	background-color: $h4c_grey_dark;
	
	.container {
		padding: 100px 0 100px 0;
	}

}

.panel-heading-faq {
	text-transform: uppercase;
	margin-top: 0;
}

.panel-body-faq {
	font-size: $fs-medium;
}


.section-about {

	.container {
		padding: 100px 0 100px 0;
	}

}

.section-initiators {

	color: white;

	a {
		color: white; 
	} 

	.container {
		padding: 100px 0 100px 0;
	}

	.row {
		@include initiator-gradient($initiator_color1, $initiator_color2)
	}

}
.col-initiator {
	
	padding: 60px;

}

/*-----  End of The About Page  ------*/



/*=====================================
=            The Lab Pages            =
=====================================*/


.section-lab-about {

	.container {
		padding: 100px 0 75px 0;
	}

}

.section-lab-events {

	.container {
		padding: 75px 0 150px 0;
	}

	.event-title {
		margin-bottom: 70px;
	}

	.event-date, .event-location {
		font-size: $fs-large;
	}

	.event-location {
		margin-bottom: 80px;
	}

	.event-signup {
		font-size: $fs-large; 
		
		height: 110px;
		line-height: 110px;
		
		padding: 0 60px;
		
		color: white;
		&:hover, &:active, &:focus, &:visited {
			color: white;
		}
	}
	
}

.section-lab-slider {
	
	h2 {
		margin: 0 0 60px 0;
		color: white;
	}

	padding: 60px 0 150px 0;

	position: relative;

	&:after {
		content:"";
		display: block;
		position: absolute;
		overflow: hidden;

		width: 878px;
		height: 1218px;
		background-image: url(../img/svg/map.svg);

		top: -200px;
		right: -200px;
	}

	.slick-slider {
		z-index: 999;
	}	

}

.section-lab-partner {
	
	.container {
		padding: 0;
	}
	
}


// Berlin
.page-lab-ber {
	@include page-lab-colorscheme($lab1_primary);
}

// Dortmund
.page-lab-dor {
	@include page-lab-colorscheme($lab2_primary);
}


// Karlsruhe
.page-lab-kar {
	@include page-lab-colorscheme($lab3_primary);
}


// Dresden
.page-lab-dre {
	@include page-lab-colorscheme($lab4_primary);
}



/*-----  End of The Lab Pages  ------*/

