/*=============================
=            Fonts            =
=============================*/

@font-face{font-family:"DINWeb";src:url('../fonts/DINWeb.eot')}
@font-face{font-family:"DINWeb";src:url('../fonts/DINWeb.woff') format("woff")}
@font-face{font-family:"DINWeb-Bold";src:url('../fonts/DINWeb-Bold.eot')}
@font-face{font-family:"DINWeb-Bold";src:url('../fonts/DINWeb-Bold.woff') format("woff")}
@font-face{font-family:"DINWeb-CondBold";src:url('../fonts/DINWeb-CondBold.eot')}
@font-face{font-family:"DINWeb-CondBold";src:url('../fonts/DINWeb-CondBold.woff') format("woff")}

/*-----  End of Fonts  ------*/

/*===============================
=            General            =
===============================*/

/**
*
* Header
*
**/

.navbar {
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0;
}

.navbar-fixed.navbar-fixed-in {
	@include translate(0,0);
	@include transition-transform(0.5s ease-in-out);
}

.navbar-fixed.navbar-fixed-out {
	@include transition-transform(0.5s ease-in-out);
}

.navbar-fixed {
	@include translate(0,-100%);
	position: fixed;
	width: 100%;
}

.navbar-toggle .icon-bar {
	background: $black ;
}

.navbar-fixed + * {
	padding-top: 380px;
}

.navbar-header  {
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-nav > li > a {

	padding: 0;
	margin: 0;

}

.navbar-brand {
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	min-height: 100px;
	height: 0;
}

.nav > li > a {

	text-transform: uppercase;
	color: $black;

	&:hover, &:focus, &:active {
		background: transparent;
	}

}

.page-home {

	.navbar {
	
		background: transparent;
		margin-bottom: 0;
		margin-top: 10px;
		
		.nav > li > a {
			//color: white;
		}

		.navbar-toggle .icon-bar {
			//background: white;
		}
	}

	.navbar-header {
		float: right;
	}

	.navbar-brand {
		min-height: 0;
	}

	.section-intro .container {
		padding-top: 30px;
	}

}





.page-about , .page-imprint {

	.navbar-brand {
		@extend .svg-h4c_logo_big;
	}

	.navbar-fixed .navbar-brand {
		@extend .svg-h4c_logo_small;
	}

}

@include page-lab-logo ('ber');
@include page-lab-logo ('dor');
@include page-lab-logo ('dre');
@include page-lab-logo ('kar');

h2 {

	text-transform: uppercase;

}

.content-body {

	a {
		text-decoration: underline;
	}

	.link-more {
		text-decoration: none;

	}

	h1, h2, h3 {
		margin-top: 0;
	}

	img {
		margin: 100px 0 100px 0;
	}
}

.link-more {
	font-size: $font-size-small;
	text-transform: uppercase; 
}

/**
*
* Footer
*
**/


footer {
	
	background-color: white; 
	padding: 50px 0 50px 0;


	.footer-initiator-logos li {
		
		text-align: center;
		
		img {
			width: 50%;
			margin-bottom: 30px;
		}

	}

	.nav {
		font-size: $fs-small;
		text-transform: uppercase;
		text-align: center;
	}

}

/*-----  End of General  ------*/


/*============================
=            Modules         =
============================*/

/**
*
* Herovideo
*
**/

html, body, .hero-video, .hero-video-container {
  height: 100%;
}

.section-video {
	height: 80%;
	position: relative;

}

.hero-video-overlay-wj {
	position: absolute;
	margin: 0 auto; 
	bottom: 15px; 
	right: 0;
	left: 0;
	max-width: 50%;
	height: auto;
}


.logo-wj {
	margin-bottom: 10px;
}

.hero-video-overlay-h4c {
	max-width: 80%;
	max-height: 50%;
	position: absolute;
	margin: auto;
	left:0;
	right:0;
	top: 30px;
	// bottom:0;
}

.navbar {
	z-index: 999;
}

.section-intro {
	.container {
		padding-top: 100px;
		padding-bottom: 50px;
	}
}



.section-labs {
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.section-newsletter {
	.container {
		padding-top: 150px;
		padding-bottom: 150px;
	}
}

.section-projects {
	.container {
		padding-top: 50px;
		padding-bottom: 0;
	}
}


/**
*
* WJ2025 & Hashtags
*
**/

.logo-wj {
	margin-bottom: 30px;
	display: block;
}

.hashtag {
	
	color: white;
	a, a:hover, a:visited, a:focus, a:active {
		color: white;
	}

	display: inline-block;
	padding: 5px 12px 0 10px;
	font-family: "DINWeb-Bold";
}

.hashtag-1 {
	background-color: $wj_yellow; 
}

.hashtag-2 {
	background-color: black; 	
}


/**
*
* Lab teasers 
*
**/


.panel-square-wrap {

	position: relative;
	margin-bottom: 40px;

	&:after {
		content:"";
		display: block;
		padding-top: 100%;
	}

}

.panel-lab-teaser {
	
	position: absolute;
	width: 100%;
	height: 100%;

	border-style: solid;
	border-width: 3px;

	&:after {
	  display: block;
	  content: "";
	  z-index: -1;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 0%;
	  @include transition(height 0.3s);
	}

	&:hover:after {
		height: 100%;
	}

	text-align: center; 

	.event-wrap {
		display: block;
		margin-top: 50%;
		@include translate(0,-50%);
	}

	.event-lab {
		margin-top: 0;
		text-transform: uppercase;
	}

	.event-title {
		
		margin: 0;

	}

	.event-date {

		margin: 0;

	}

}

// Berlin

.panel-lab1 {
	@include panel-lab-teaser($lab1_primary);
}

// Dortmund

.panel-lab2 {
	@include panel-lab-teaser($lab2_primary);
}

// Karlsruhe

.panel-lab3 {
	@include panel-lab-teaser($lab3_primary);
}

// Dresden

.panel-lab4 {
	@include panel-lab-teaser($lab4_primary);
}

/**
*
* Newsletter Sign-up
*
**/

.section-newsletter {

	h2 {
		text-align: center;	
	}

}

#mc_embed_signup {

	input {
		height: 110px;
	}
	margin: 0 auto;

}

label[for=mce-EMAIL] {
	display:none;
}

#mce-EMAIL {

	font-size: $fs-large; 
	display: block;
	text-align: center;
	width: 100%;

}

#mc-embedded-subscribe {

	font-size: $fs-large;
	display: block;
	background: $h4c_grey_dark;
	color: white;
	width: 100%;

}


/**
*
* Projects
*
**/

.thumbnail-project {
	
	position: relative;
	margin-bottom: 0;

	.overlay {

	}

	.caption {

		color: $black;
		// padding: 60px;

	}

	.caption-title {
		
		font-size: $fs-large;

	}

}

/*-----  End of Modules  ------*/

/*======================================
=            The About Page            =
======================================*/

.section-faq {

	background-color: $h4c_grey;
	
	.container {
		padding-top: 100px;
		padding-bottom: 100px;
	}

}

.panel-heading-faq {
	text-transform: uppercase;
	margin-top: 0;
}

.panel-body-faq {
	font-size: $fs-medium;
}


.section-about {

	.container {
		padding-top: 100px;
		padding-bottom: 100px;
	}

}

.section-initiators {

	color: white;

	a {
		color: white; 
	} 

	.container {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.col-initiator-1 {
		background: $initiator_color1;
	}

	.col-initiator-2 {
		background: $initiator_color2;
	}

}
.col-initiator {
	
	padding: 60px;

}

/*-----  End of The About Page  ------*/



/*=====================================
=            The Lab Pages            =
=====================================*/


.section-lab-about {

	.container {
		padding-top: 100px;
		padding-bottom: 75px;
	}

}

.section-lab-events {

	.container {
		padding-top: 75px;
		padding-bottom: 150px;
	}

	.event-title {
		margin-bottom: 70px;
	}

	.event-date, .event-location {
		font-size: $fs-large;
	}

	.event-location {
		margin-bottom: 80px;
	}

	.event-signup {
		
		height: 110px;
		line-height: 110px;
		
		padding: 0 60px;
		
		color: white;
		&:hover, &:active, &:focus, &:visited {
			color: white;
		}
	}
	
}

.section-lab-slider {
	
	h2 {
		margin: 0 0 60px 0;
		color: white;
		position: relative;
		z-index: 900;
	}

	padding-top: 60px;
	padding-bottom: 150px;

}

.section-lab-partner {
	
	.container {
		padding-top: 30px;
		padding-bottom: 30px;	
	}

	ul {
		margin-bottom: 0;
		margin-top: 50px;
	}

	li {
		margin: 0 auto 50px auto; 
		text-align: center; 
		max-width: 50%;
		vertical-align: middle;

	}
	
}


// Berlin
.page-lab-ber {
	
	@include page-lab-colorscheme($lab1_primary);
	.section-lab-slider:after {
		background-image: url(../img/svg/map_lab1.svg);
	}

}

// Dortmund
.page-lab-dor {

	@include page-lab-colorscheme($lab2_primary);
	.section-lab-slider:after {
		background-image: url(../img/svg/map_lab2.svg);
	}

}


// Karlsruhe
.page-lab-kar {
	
	@include page-lab-colorscheme($lab3_primary);
		.section-lab-slider:after {
		background-image: url(../img/svg/map_lab3.svg);
	}

}


// Dresden
.page-lab-dre {
	
	@include page-lab-colorscheme($lab4_primary);
		.section-lab-slider:after {
		background-image: url(../img/svg/map_lab4.svg);
	}
}



/*-----  End of The Lab Pages  ------*/

