.svg-h4c_logo_big {
	background-image: url('/img/svg/h4c_logo_big.svg');
}

.svg-h4c_logo_small {
	background-image: url('/img/svg/h4c_logo_small.svg');
}

.svg-h4c_logo_ber_big {
	background-image: url('/img/svg/h4c_logo_ber_big.svg');
}

.svg-h4c_logo_ber_small {
	background-image: url('/img/svg/h4c_logo_ber_small.svg');
}

.svg-h4c_logo_dor_big {
	background-image: url('/img/svg/h4c_logo_dor_big.svg');
}

.svg-h4c_logo_dor_small {
	background-image: url('/img/svg/h4c_logo_dor_small.svg');
}

.svg-h4c_logo_dre_big {
	background-image: url('/img/svg/h4c_logo_dre_big.svg');
}

.svg-h4c_logo_dre_small {
	background-image: url('/img/svg/h4c_logo_dre_small.svg');
}

.svg-h4c_logo_kar_big {
	background-image: url('/img/svg/h4c_logo_kar_big.svg');
}

.svg-h4c_logo_kar_small {
	background-image: url('/img/svg/h4c_logo_kar_small.svg');
}
