@mixin panel-lab-teaser($color) {

	border-color:  $color;

	&:after {
		background-color: $color;
	}

	&:hover {

		color: white;
		
		a, a:hover, a:visited, a:focus {
			color: white;
		}
	
	}

	a, a:hover, a:visited, a:focus {
		color: $color;
		@include transition(color 0.3s);
	}

}

@mixin page-lab-logo($lab) {

	.page-lab-#{$lab} {

		.navbar-brand {
			@extend .svg-h4c_logo_#{$lab}_big;
		}

		.navbar-fixed .navbar-brand {
			@extend .svg-h4c_logo_#{$lab}_small;
		}

	}

}

@mixin page-lab-colorscheme($color) {

	.navbar, .section-lab-slider, .event-signup {
		background-color: $color;
	}

	.content-body, .section-lab-partner {
		h2,h3,h3 {
			color: $color;
		}
	}

}

@mixin initiator-gradient($start: #f1f1f1, $stop: #d9d9d9) { 
	background: $start;
	background: -webkit-linear-gradient(left,$start,$start 50%,$stop 50%,$stop 100%);
	background: -moz-linear-gradient(left,$start 50%,$stop 50%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0,$start),color-stop(50%,$start),color-stop(50%,$stop),color-stop(100%,$stop));
	background-image: -webkit-linear-gradient(left,$start,$start 50%,$stop 50%,$stop 100%);
}