.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

.panel-body {
	padding: 0 0 20px 0;
}

.panel-footer {
	padding: 0;
	border: none;
}

.thumbnail {
	border: none;
}

.col-project {
	padding-left: 0;
	padding-right: 0;
}

input {
	border: none;
}

a:focus {
	outline: none;
}

.slick-slider {
	height: 400px;
}

.navbar-collapse {
	border-top: none;
	box-shadow: none;
}