.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-body {
	padding: 0 0 20px 0;
}

.panel-footer {
	padding: 0;
}

.thumbnail {
	border: none;
}

.col-md-3.sticky-stuff {
	position: static;
}

.col-project {
	padding-left: 0;
	padding-right: 0;
}

input {
	border: none;
}