/*=================================
=            Variables            =
=================================*/

$wj_yellow: #EDA72B;
$wj_blue: #0096BD;

$initiator_color1: #00646A;
$initiator_color2: #348F83;

$lab1_primary: #0096BD;
$lab2_primary: #FF6B5D;
$lab3_primary: #F0C755;
$lab4_primary: #74CDA4;

$h4c_grey_light: #F7F7F7;
$h4c_grey: #E0E0E0;
$h4c_grey_dark: #CCCCCC;

$black: #343839;

$fs-regular: 28px;
$fs-large: 46px;
$fs-medium: 21px;
$fs-small: 16px;

$screen-xlg-min: 1400px;

/*-----  End of Variables  ------*/