---
layout: page
title: About
bodyclass: about
---

<div class="section-faq">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-md-offset-3">
        {% include modules/faqs.html%}
      </div>

    </div>
  </div>
</div>


<div class="section-about">
  <div class="container">
    <div class="row" >
      <div class="col-md-3 sticky-stuff" >
            <img class="logo-wj" src="/img/svg/wj2015.svg" alt="Wissenschaftsjahr Zukunftsstadt 2015">
            {% include modules/hashtags.html %}
      </div>

      <div class="col-md-9">
       <h2>Text zum Wissenschaftsjahr 2015 - zukunftsstadt</h2>
        <p>Städte sind die Orte, an denen Neues praktisch ausprobiert wird. Hierbei bedingen sich Forschung und politisches Handeln.Dieses Prinzip ist in der strategischen Forschungsagenda der Nationalen Plattform Zukunftsstadt verwirklicht. Mit ihr sollen Städte möglichst CO2-neutral, energieeffizient und klimaangepasst umgebaut werden. Die Agenda der Nationalen Plattform Zukunftsstadt folgt aus der Hightech Strategie. Geschrieben haben sie Experten aus Kommunen, Wissenschaft, Wirtschaft und Politik auf Initiative der Bundesregierung. </p><p>
        Das Wissenschaftsjahr 2015 zeigt an konkreten Beispielen, wie die Forschung das unterstützt: Experten liefern nützliche Erkenntnisse und zeigen neue Wege die Zukunft in der Stadt zu gestalten – ganz konkret vor Ort und gemeinsam mit den Bürgerinnen und Bürgern. In den Städten geschehen viele Entwicklungen gleichzeitig, auch gegenläufig und im Konflikt. Es leben viele Menschen in urbanen Räumen, deren Lebensbereiche und Lebenswelten sich überschneiden. Umso wichtiger ist es, die Stadt als Ganzes zu begreifen und so viele Aspekte wie möglich einzubeziehen. Städte bieten, wie kein anderer Lebensort, den direkten Austausch – diesen gilt es zu nutzen: Willkommen im Wissenschaftsjahr 2015 – Zukunftsstadt!
        Träger des Wissenschaftsjahres sind das Bundesministerium für Bildung und Forschung sowie Wissenschaft im Dialog.</p>
        <img class="img-responsive" src="/img/content_dummy.jpg" alt="Dummy Image description for accessability">
      </div>

    </div>
  </div>
</div>


<div class="section-initiators">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-initiator-1">
        <h2>wid Kurzbeschreibung</h2>
        <p>Wissenschaft im Dialog – die Initiative der deutschen Wissenschaft Wissenschaft im Dialog (WiD) bringt Wissenschaft und Gesellschaft miteinander ins Gespräch. Die Gemeinschaftsinitiative der deutschen Wissenschaft wurde 1999 von den großen deutschen Wissenschaftsorganisationen gegründet. WiD organisiert Dialogveranstaltungen, Ausstellungen oder Wettbewerbe rund um Wissenschaft und Forschung und entwickelt neue Formate der Wissenschaftskommunikation.</p>
        <p>
          WiD organisiert Dialogveranstaltungen, Ausstellungen oder Wettbewerbe rund um Wissenschaft und Forschung und entwickelt neue Formate der Wissenschaftskommunikation.
        </p>
    
        <p id="collapseWidMore" class="collapse" role="tabpanel" aria-labelledby="collapseWidMore">
          Wissenschaft im Dialog – die Initiative der deutschen Wissenschaft Wissenschaft im Dialog (WiD) bringt Wissenschaft und Gesellschaft miteinander ins Gespräch. Die Gemeinschaftsinitiative der deutschen Wissenschaft wurde 1999 von den großen deutschen Wissenschaftsorganisationen gegründet. WiD organisiert Dialogveranstaltungen, Ausstellungen oder Wettbewerbe rund um Wissenschaft und Forschung und entwickelt neue Formate der Wissenschaftskommunikation.
        </p>
        <a class="link-more" data-toggle="collapse" href="#collapseWidMore" aria-expanded="false" aria-controls="collapseWidMore">>Weiterlesen...</a>
      </div>

      <div class="col-md-6 col-initiator-2">
        <h2>okf Kurzbeschreibung</h2>
        <p>Wissenschaft im Dialog – die Initiative der deutschen Wissenschaft Wissenschaft im Dialog (WiD) bringt Wissenschaft und Gesellschaft miteinander ins Gespräch. Die Gemeinschaftsinitiative der deutschen Wissenschaft wurde 1999 von den großen deutschen Wissenschaftsorganisationen gegründet. WiD organisiert Dialogveranstaltungen, Ausstellungen oder Wettbewerbe rund um Wissenschaft und Forschung und entwickelt neue Formate der Wissenschaftskommunikation.</p>
        <p id="collapseOkfMore" class="collapse" role="tabpanel" aria-labelledby="collapseOkfMore">
          Wissenschaft im Dialog – die Initiative der deutschen Wissenschaft Wissenschaft im Dialog (WiD) bringt Wissenschaft und Gesellschaft miteinander ins Gespräch. Die Gemeinschaftsinitiative der deutschen Wissenschaft wurde 1999 von den großen deutschen Wissenschaftsorganisationen gegründet. WiD organisiert Dialogveranstaltungen, Ausstellungen oder Wettbewerbe rund um Wissenschaft und Forschung und entwickelt neue Formate der Wissenschaftskommunikation.
        </p>
        <a class="link-more" data-toggle="collapse" href="#collapseOkfMore" aria-expanded="false" aria-controls="collapseOkfMore">>Weiterlesen...</a>
      </div>

    </div>
  </div>
</div>




