---
layout: page
title: About
bodyclass: about
---

<div class="section-faq">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-md-offset-3">
        {% include modules/faqs.html%}
      </div>

    </div>
  </div>
</div>


<div class="section-about">
  <div class="container">
    <div class="row" >
      <div class="col-md-3 sticky-stuff" >
            <img class="logo-wj" src="/img/svg/wj2015.svg" alt="Wissenschaftsjahr Zukunftsstadt 2015">
            {% include modules/hashtags.html %}
      </div>

      <div class="col-md-9">
        <div class="content-body">
          <h2>Über das Wissenschaftsjahr</h2>
          <p>Die Stadt ist für die meisten Menschen heute schon der Lebensort Nummer eins. Täglich werden es mehr. Denn das Leben in der Stadt ist attraktiv. Dazu tragen die Ergebnisse aus Wissenschaft und Forschung bei. Ihre Lösungen werden künftig noch stärker gebraucht, wenn Städterinnen und Städter ihre Zukunft selbstbestimmt gestalten.<br>
          Der international renommierte Stadtplaner Jaime Lerner brachte es auf den Punkt: „Die Stadt ist nicht das Problem. Die Stadt ist die Lösung.“ Diesem Anspruch folgt das Wissenschaftsjahr 2015 – Zukunftsstadt. Weil Städte sich permanent entwickeln sind sie auch der Ort für Innovation. Sie können ökologisch, sozial und ökonomisch Modell und Vorreiter für nachhaltige Entwicklungen sein.<br>  
          Heute wird in Städten drei Viertel der Energie verbraucht und 70 Prozent der von Menschen erzeugten Treibhausgase emittiert. Wer nachhaltige Lebensweisen verwirklichen will, muss zunächst die Stadtbewohner dafür gewinnen. Dies gelingt nur mit Wissenschaft und Forschung. Aber ihre Angebote müssen zu den Bedürfnissen der Menschen passen. Im Wissenschaftsjahr 2015 – Zukunftsstadt sollen neue Formate der Beteiligung entwickelt werden, die zeigen, wie Bürgerinnen und Bürger gemeinsam mit der Wissenschaft ihre Städte gestalten.<br>
          Dafür gibt es zahlreiche Beispiele: Städte werden sich an das Klima anpassen, sie werden sich sicher mit Energie versorgen und Mobilität für alle ermöglichen. Gesunde Ernährung wird immer stärker durch Lebensmittel gewährleistet, die im Urban Gardening erzeugt werden. Und innovative Wohnideen sind notwendig, um möglichst vielen Menschen attraktive Lebensbedingungen zu bieten.<br>
          Seit der Antike ist der Grundriss einer Stadt zugleich auch die Blaupause ihrer sozialen und politischen Strukturen. In den Städten kristallisieren sich die Herausforderungen der Zukunft: Ob Klimaanpassung, Energieversorgung, sichere Arbeit, bezahlbares Wohnen, nachhaltige Mobilität oder demografischer Wandel - in den Städten treffen diese Fragen wie in einem Brennglas aufeinander.<br>
          Städte sind die Orte, an denen Neues praktisch ausprobiert wird. Hierbei bedingen sich Forschung und politisches Handeln. Dieses Prinzip ist in der strategischen Forschungsagenda der Nationalen Plattform Zukunftsstadt verwirklicht. Mit ihr sollen Städte möglichst CO2-neutral, energieeffizient und klimaangepasst umgebaut werden. Die Agenda der Nationalen Plattform Zukunftsstadt folgt aus der Hightech Strategie. Geschrieben haben sie Experten aus Kommunen, Wissenschaft, Wirtschaft und Politik auf Initiative der Bundesregierung.
          Das Wissenschaftsjahr 2015 zeigt an konkreten Beispielen, wie die Forschung das unterstützt: Experten liefern nützliche Erkenntnisse und zeigen neue Wege die Zukunft in der Stadt zu gestalten – ganz konkret vor Ort und gemeinsam mit den Bürgerinnen und Bürgern. In den Städten geschehen viele Entwicklungen gleichzeitig, auch gegenläufig und im Konflikt. Es leben viele Menschen in urbanen Räumen, deren Lebensbereiche und Lebenswelten sich überschneiden. Umso wichtiger ist es, die Stadt als Ganzes zu begreifen und so viele Aspekte wie möglich einzubeziehen. Städte bieten, wie kein anderer Lebensort, den direkten Austausch – diesen gilt es zu nutzen: Willkommen im Wissenschaftsjahr 2015 – Zukunftsstadt!
          </p>
          <img class="img-responsive" src="/img/content_dummy.jpg" alt="Dummy Image description for accessability">
        </div>
      </div>

    </div>
  </div>
</div>


<div class="section-initiators">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-initiator col-initiator-1">
        <h2>Wissenschaft im Dialog – die Initiative der deutschen Wissenschaft</h2>
        <p>Wissenschaft im Dialog (WiD) bringt Wissenschaft und Gesellschaft miteinander ins Gespräch. Die Gemeinschaftsinitiative der deutschen Wissenschaft wurde 1999 von den großen deutschen Wissenschaftsorganisationen gegründet. WiD organisiert Dialogveranstaltungen, Ausstellungen oder Wettbewerbe rund um Wissenschaft und Forschung und entwickelt neue Formate der Wissenschaftskommunikation.</p>
        <p id="collapseWidMore" class="collapse" role="tabpanel" aria-labelledby="collapseWidMore">
         Die Wissenschaftsorganisationen stärken mit der Gemeinschaftsinitiative den Dialog zwischen Wissenschaft und Gesellschaft auch über kontroverse Themen der Forschung. WiD wurde auf Initiative des Stifterverbandes für die Deutsche Wissenschaft gegründet. Als Partner kamen Stiftungen hinzu. Maßgeblich unterstützt wird WiD vom Bundesministerium für Bildung und Forschung.<a href="www.wissenschaft-im-dialog.de">ZU WISSENSCHAFT IM DIALOG</a>
        </p>
        <a class="link-more" data-toggle="collapse" href="#collapseWidMore" aria-expanded="false" aria-controls="collapseWidMore">Weiterlesen...</a>

      </div>

      <div class="col-md-6 col-initiator col-initiator-2">
        <h2>Open Knowledge Foundation Deutschland</h2>
        <p>Die Open Knowledge Foundation Deutschland ist ein gemeinnütziger Verein mit Sitz in Berlin, der sich seit seiner Gründung 2011 für die Verbreitung von freiem und offen zugänglichem Wissen in der Gesellschaft einsetzt. Die Arbeit der OKF DE ist unabhängig, überparteilich, interdisziplinär und nicht-kommerziell.</p>
        <p id="collapseOkfMore" class="collapse" role="tabpanel" aria-labelledby="collapseOkfMore">
          Die OKF DE verstehen sich als aktiver Teil der deutschen und europäischen Zivilgesellschaft. Ihre Projekte schaffen die digitale Infrastruktur für zivilgesellschaftliches Handeln und unterstützen Bürger, Journalisten und nicht-staatliche Organisationen dabei, ihr Recht auf Information, Transparenz und Beteiligung wahrzunehmen. Sie kooperiert mit Behörden und Unternehmen, um das soziale, politische und wirtschaftliche Potenzial offener Daten zu nutzen.
        </p>

        <a class="link-more" data-toggle="collapse" href="#collapseOkfMore" aria-expanded="false" aria-controls="collapseOkfMore">Weiterlesen...</a>

      </div>

    </div>
  </div>
</div>




