---
layout: default
---

<body class="page-lab page-lab-{{ page.lab }}">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}

    <div class="section-lab-about">

	    <div class="container">
	      <div class="row">
	        <div class="col-md-9 col-md-push-3">
	        	<div class="content-body">
	    			{{ content }}
	    		</div>
		    </div>
		    <div class="col-md-3 col-md-pull-9">
		      <img class="img-responsive logo-wj" src="/img/svg/wj2015.svg" alt="Wissenschaftsjahr Zukunftsstadt 2015">
		      {% include modules/hashtags.html %}
		    </div>

		  </div>
		</div>
	
	</div>

    <div class="section-lab-events">

		<div class="container">
		  <div class="row">

		    <div class="col-md-3">
		      <h2>Termine</h2>
		    </div>

		    <div class="col-md-9">
		        {% include modules/events.html%}
		    </div>

		  </div>
		</div>
	
	</div>

	<div class="section-lab-slider">

		<div class="lab-media">
		  
		  <h2 class="text-center">Fotos &amp; Videos</h2>

		  {% include modules/slider.html%}

		</div>

	</div>

	<div class="section-lab-partner">

		<div class="container">
		  
		  <h2 class="text-center">Projekt Partner</h2>
		  <div class="row">
		    <div class="col-md-12">
		        {% include modules/partner.html%}
		    </div>
		  </div>

		</div>	

	</div>	

    {% include footer.html %}

</body>


