{% for event in site.termine %}

  {% if event.lab == page.lab %}
      <div class="event">
        <h3 class="event-title">{{ event.name }}</h3>
        <div class="event-date">{{ event.date }}</div>
        <div class="event-location">{{ event.location }}</div>
        {% if event.signup-url %}
        <a class="event-signup btn btn-signup" href="{{ event.signup-url }}">Infos &amp; anmelden</a>
        {% endif %}
        <div class="event-content">
		      {{ event.content }}
        </div>
      </div>
  {% endif %}

{% endfor %}